title: Tauki Tahmid
description: Personal website and blog

url: "https://tauki.site" # your custom domain

# Build settings
markdown: kramdown

plugins:
  - jekyll-feed
  - jekyll-seo-tag

collections:
  notes:
    output: true
    permalink: /notes/:path/

defaults:
  - scope:
      path: ""
      type: "notes"
    values:
      layout: "default"


# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - _notes/assets/ 