<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">
  <link rel="stylesheet" href="/assets/css/style.css?v=1">
</head>

<body>

  {% include header.html %}



  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {% assign has_sidenotes = content | contains: 'sidenote' %}
      <article class="post {% if page.url == '/' %}home-layout{% endif %}">
        <header class="post-header">
          {% unless page.url == "/" %}
          <h1 class="post-title">{{ page.title | escape }}</h1>
          {% endunless %}
          {% if page.subtitle %}
          <p class="post-subtitle">{{ page.subtitle }}</p>
          {% endif %}

          {% if page.categories %}
          <div class="post-tags">
            {% for category in page.categories %}
            <a class="post-tag" href="/categories/#{{ category | slugify }}">{{ category }}</a>
            {% endfor %}
          </div>
          {% endif %}
          {% if page.collection == 'notes' %}
          <p class="post-meta">
            {{ page.date | date: "%b %-d, %Y" }}
            {% assign words = page.content | number_of_words %}
            {% if words < 360 %} • 1 min read {% else %} • {{ words | divided_by:180 }} min read {% endif %} </p>
              {% endif %}
        </header>
        <div class="post-content">
          <div id="toc-sidebar" class="toc-sidebar"></div>
          {{ content }}
        </div>
      </article>
    </div>
  </main>

  {% include search-modal.html %}

  <script src="/assets/js/search.js"></script>
  <script src="/assets/js/main.js"></script>
</body>

</html>